.app-header {
  align-items: center;
  background: #14213D;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-list {
  display: flex;
}

.header-links {
  color: #ca8318;
  font-family: sans-serif;
  margin-right: 1rem;
  text-decoration: none;
}

li {
  list-style-type: none;
  
}